// Specific CSS for your home-page
.fit-picture {
    width: 200px;
}

.vertical-center {
  min-height: 75%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 75vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.custom-padding {
  padding: 30px;
}

#cont {
  background-color: #FFFFFF;
}

.padding-top {
  padding-top: 84px;
}

body {
  background-image: url("https://res.cloudinary.com/dyg8e1n4m/image/upload/v1581689991/8710052788_5570d91f40_o_xursme.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
