<div class="vertical-center">
  <div class="row justify-content-around">
    <div class="col-sm-8 text-center">
      <h1><b>Cloé</b></h1><br><br>
      <div>Le Cabinet CLOE est une Ecole de Formation d’Hypnothérapeutes, de psycho-praticien relationnels, de praticiens en PNL, en Coaching.
      Il est situé à la Valentine dans le 11 ème arrondissement de Marseille.<br><br>
        Créé depuis 2002 , il vous reçoit aussi pour des consultations privées de psychothérapie, que
        vous soyez adulte, adolescent ou enfant. Toutes les rubriques présentes dans la partie <%= link_to "Nos
        formations", formations_path %> peuvent être des formations certifiantes ou des consultations privées, selon vos
        besoins.<br><br>
        Toutes les consultations et la plupart des formations peuvent se faire en visio consultation, il vous suffit de nous contacter afin d'organiser un rendez-vous. <br><br>
        Nous vous invitons à visiter les différentes rubriques sur notre site.
      </div><br><br>
      <div class="d-flex justify-content-around">
        <a href="/formations" class="btn btn-ghost btn-lg active" role="button" aria-pressed="true">Nos formations</a>
        <a href="/profils" class="btn btn-ghost btn-lg active" role="button" aria-pressed="true">Notre experte</a>
        <a href="/contacts/new" class="btn btn-ghost btn-lg active" role="button" aria-pressed="true">Contactez-nous</a>
      </div>
    </div>
    <div>
    <img class="fit-picture d-flex align-items-center mb-5" style="width: 200px; height: 200px;"
    src="https://nsa40.casimages.com/img/2020/02/07/mini_200207061714571664.jpg"
    alt="logo">
    <img class="fit-picture d-flex align-items-center" style="width: 200px; height: 200px;"
    src="https://res.cloudinary.com/dyg8e1n4m/image/upload/v1590735521/Picto_datadocke_1_tgmm40.jpg"
    alt="logo">
  </div>
  </div>
</div>
