<div class="container text-center" style="padding-top: 15%;">
  <h1>Cabinet Cloé</h1><br>
  <h2>E.F.H.C</h2><br>
  <p>Bienvenue sur le site du Cabinet Cloé</p><br>
  <a class="btn btn-ghost" href="acceuil"><b>Entrez</b></a>
</div>
</div>
