<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dyg8e1n4m/image/upload/v1581322535/20200209_095604_yhxcdx.jpg);">
  <div class="container text-center">
    <h1>Cabinet Cloé</h1><br>
    <h2>E.F.H.C</h2><br>
    <p>Bienvenue sur le site de l'association Cloé</p><br>
    <a class="btn btn-ghost" href="acceuil"><b>Entrez</b></a>
  </div>
</div>

