<form class="text-left">
  <div class="form-group">
    <label for="exampleInputEmail1"><b>Votre email</b> *</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Entrez votre email" required>
    <small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre email</small>
  </div>
    <div class="form-group">
    <label for="email2"><b>Confirmez votre email</b> *</label>
    <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Entrez à nouveau votre email" required>
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1"><b>Numéro de téléphone</b></label>
    <input type="text" class="form-control" id="telephone" aria-describedby="emailHelp" placeholder="Entrez votre numéro de téléphone">
    <small id="emailHelp" class="form-text text-muted">Servira uniquement pour vous recontacter dans le cadre de votre demande</small>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1"><b>Votre demande</b> *</label>
    <textarea class="form-control" id="demande" rows="8" required></textarea>
  </div>
    <button type="submit" class="btn btn-ghost">Envoyer</button><br><br>
    <p><i> * champs obligatoires </i></p>
</form>
