<div class="container text-center mb-5 title-style">
  <b>Notre experte</b>
</div>
  <div class="container d-flex justify-content-center">
    <% @profils.each do |p| %>
    <% if p.photo.attached? %>
    <a href="<%= profil_path(p) %>" style= text-decoration:none;>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path p.photo.key; %>')">
        <%= p.name.capitalize %>
      </div>
      <% end %>
    </a>
    <% end %>
  </div>
