<div class="vertical-center">
  <div class="row justify-content-around">
    <div class="col-sm-8 text-center"><b><%= @profil.name.capitalize %></b><br><br>
      <div class="text-left"><%= simple_format(@profil.description) %>
      </div><br><br>
            <div class="d-flex justify-content-around">
        <a href="/contacts/new" class="btn btn-ghost btn-lg active" role="button" aria-pressed="true">Contactez-nous</a>
        <a href="https://www.amazon.fr/Grandir-CLOE/dp/2332939504/ref=sr_1_1?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=grandir+cloe&qid=1584093403&sr=8-1" class="btn btn-ghost btn-lg active" role="button" aria-pressed="true">GRANDIR sur Amazon</a>
      </div>
    </div>
    <div class="col-sm-4">
      <%= cl_image_tag @profil.photo.key, width: 300, height: 400, crop: :fill %>
    </div>
  </div>
</div>

