<div class="container text-center mb-5 title-style">
  <b>Nos formations</b>
</div>
<div class="container cards">
  <% @formations.each do |f| %>
  <a href="<%= formation_path(f) %>" style= text-decoration:none;>
    <% if f.photo.attached? %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path f.photo.key %>')">
      <%= f.name.capitalize %>
    </div>
    <% end %>
  </a>
  <% end %>
</div>
