<h1>Bonjour <%= @profil.name.capitalize %></h1>

<p>
  Une nouvelle demande vient d'arriver, et voici ce qu'elle contient : <br>

  <b> Email de l'expediteur : </b> <%= @contact.email %> <br><br>
<% if @contact.telephone %>
<b> Téléphone de l'expediteur :  </b> <%= @contact.telephone %> <br><br>
<% end %>
<b> Demande : </b> <%= @contact.demande %>
</p>
