<h1>Bonjour <%= @profil.name.capitalize %></h1>

<p>
  Une nouvelle demande vient d'arriver, et voici ce qu'elle contient : <br>

  <b> Email de l'expediteur : <%= @email %> </b> <br>
<% if @telephone %>
<b> Téléphone de l'expediteur : <%= @telephone %> </b> <br>
<% end %>
<b> Demande : <%= @demande %></b>
</p>
